/* Variables & règles communes */

:root {
  --container-pad-desktop: 20%;
  --container-pad-tablet: 10%;
  --container-pad-mobile: 5%;
}

img { max-width: 100%; height: auto; }

/* MOBILE (<=600px) */

@media (max-width: 600px) {

   /* Global */

   main, #main { padding: 6% var(--container-pad-mobile); }
   h1 { font-size: clamp(1.8rem, 6vw, 2.2rem); }
   h2 { font-size: clamp(1.8rem, 5vw, 1.6rem); }

   /* Wrapper */
    

   /* Menu */

   #menuInfo { 
      flex-direction: column; 
      width: 100%; 
   }
   
   .header-icons{ 
      width: 50px; 
      height: 50px;
   }
   
   .menu-icons { 
      width: 20px ; 
      margin: 2%;
   }

   .visuelMenu { display: none}
   .navbar-header { padding: 5%; }
   .links>p { font-size: 25px;} 

   /* Footer */

   footer { 
      padding: 12% 0 6%; 
      height: 900px; 
   }

   #logoFooter img { 
      width: 90px; 
      height: 90px; 
   }

   #topFooter{ 
      width: 100%; 
      margin-right: 0;
   } 

   #informationFooter{ width: 200px } 

   /* Accueil */
    
   #bienvenue { height: 500px; }
   #btnlanding { width: 70%; font-size: 20px; margin: 20px auto; }

   #billeterie { padding: 10% 8%;}
   .pass1, .pass2, .pass3 { margin: 5% 5%;}

   .pass3{ width: 280px; height: 280px;}
   .pass2,.pass1{ width: 250px; height: 250px;}

   #asso {padding: 10% 8%;}
   #assoTxt>img{ width: 200px; height: 200px; margin: 8%;}

   /* FILTRES CONCERT ET PROG */

   .progBtn, .sceneBtn  {
      position: fixed;
      height: 100px;
      left: 0;
      background-color: beige;
      width: 100%;
      padding: 4% 10% 10% 10%;
      border: none;
      border-top: solid #492E34;
      z-index: 2;
      border-radius: 0;
      margin: 0;
   }

   .drawer-toggle {
      display: block;
      position: fixed;
      bottom: 100px;
      left: 20%;
      transform: translateX(-50%);
      z-index:100;
   }

   .filterDrawer {
      position: fixed;
      bottom: -100%;
      left: 0;
      width: 100%;
      background-color: beige;
      border-top: solid #492E34;
      transition: bottom 0.3s ease-in-out;
      z-index: 1000;
      padding: 1rem;
   }

   .filterDrawer.open {
      bottom: 0;
   }

   /* CONCERT */

   .sceneConteneur {
      width: 100%;
   }

   /* Carte */

   #map { min-height: 400px; width: 100%; }
   .aside-map { width: 100%; margin-top: 20px; }
}

/* TABLETTE (601px–1024px) */

@media (min-width: 601px) and (max-width: 1024px) {

   /* Global */
   main, #main { padding: 5% var(--container-pad-tablet); }

   /* Menu */
   #menuInfo ul { padding-left: 5%; }
    
   /* Carte */
   #map { width: 55%; }
   .aside-map { width: 45%; }
}

