#welcome { 
  padding-top: 250px; 
  background-image: url(../../../public/media/background/pexels-milodeckertxXL.png); 
  background-size: cover; 
  background-position: right; 
  width: 100%; 
  height: 800px; 
  filter: drop-shadow(2px 4px 4px #492E34); 
}

#btnlanding { 
  font-family: "Caprasimo", serif; 
  font-weight: 400; 
  font-size: 25px; 
  z-index: 2; 
  border: solid 2px; 
  border-color: #492E34; 
  margin: 120px 35% 0; 
  padding: 1%; 
  filter: drop-shadow(2px 4px 4px #492E34); 
}

#fleurbtn{
  width: 50px;
  margin: 2%;
  animation: logoShake 20s linear 0s infinite normal forwards;
}

#welcomeAnim{ 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

#tartelette{ 
  position: absolute; 
  z-index: 2; 
  width: 29%; 
  overflow: hidden; 
  animation: logoRotation 35s linear 0s infinite normal forwards; 
}

#ns_2024{ 
  position: absolute; 
  z-index: 3; 
  width: 23%; 
  animation: beats 0.6s ease-out 0s infinite normal forwards; 
}
#mascotte { 
  position: absolute; 
  z-index: 4; 
  width: 12%; 
  top: 142px; 
  left: 23%; 
  overflow: hidden; 
  animation: logoShake 20s ease-out 0s infinite normal forwards; 
}

.decor {
  position: absolute;
  max-width: 120px;
  pointer-events: none;
}

#forme1 { top: 5%; left: 10%; animation: logoRotation 30s linear 0s infinite normal forwards;}
#mega   { top: 15%; right: 5%; animation: logoShake 10s ease-out 0s infinite normal forwards;}
#fleur1 { bottom: 20%; left: 15%; animation: logoRotation 25s linear 0s infinite normal forwards;}
#fleur2 { bottom: 10%; right: 20%; animation: logoRotation 30s linear 0s infinite normal forwards;}
#cassette { top: 40%; left: 5%; animation: logoShake 10s ease-out 0s infinite normal forwards;}
#etoile { top: 10%; right: 15%; animation: logoRotation 20s linear 0s infinite normal forwards;}

@media (max-width: 768px) {
  .decor { max-width: 80px;  display: none; }
  #cassette, #forme1 { display: none; } 
  #tartelette{ width: 73%; }
  #ns_2024{ width: 60%;}
}
