/*ACCUEIL AFFICHE*/ 
#affiche{ 
    width: 100%; 
    overflow: hidden; 
} 
#carouselArtiste {
  width: 80%;
  max-width: 1000px;
}
#conteneurCarousel{ 
    overflow-x:scroll; 
    scroll-behavior: smooth; 
} 
.carouselCard {
  background-size: cover;
  background-position: center;
  height: 320px;
  border-radius: 12px;
  overflow: hidden;
  border: 3px solid #492E34;
  filter: drop-shadow(2px 2px 2px rgb(136, 108, 72));
}

.carousel-item.active{
  background-color: transparent;
}

.infoCard {
  background: linear-gradient(0deg, rgba(0,0,0,0.7) 40%, transparent 100%);
  width: 100%;
  padding: 20px;
  color: beige;
}
.infoCard>h3,.infoCard>p{ 
    color: beige; 
    margin: 0; 
    font-family: "Afacad", sans-serif; 
    font-optical-sizing: auto; 
} 
.infoCard>h3 { 
    font-family: "Caprasimo", serif; 
    font-weight: 400; 
    font-style: larger; 
    font-size: 34px; 
    display: flex; 
    justify-content: left; 
}