/*ACCUEIL BILLETERIE*/

#billeterie {
    width: 100%;
    padding: 2% 0 4%;
    background-image: url(../../../public/media/background/pexels-wendywei-1805895.png); 
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

#billeterie>div>h2 , #billeterie>p {
    color: beige;
}

.pass1, .pass2, .pass3 {
    position: relative;
    z-index: 3;
    background-image: url(../../../public/media/background/tartelette_accueil.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; 
    justify-content: center;
    align-items: center;
    margin: 2% 2%;
    filter: drop-shadow(2px 4px 4px #3f2128);
}

.pass3{
    width: 350px;
    height: 350px;
}

.pass2,.pass1{
    width: 270px;
    height: 270px;
}

.pass3>h3{
    font-family: "Caprasimo", serif;
    font-size: 30px;
}
.pass3>p{
    font-size: 40px;
    font-weight: bold;
    color: #E47161;
}

.pass1>h3, .pass2>h3{
    font-family: "Caprasimo", serif;
    font-size: 24px;
}

.pass1>p, .pass2>p{
    font-size: 30px;
    color: #E47161;
    font-weight: bold;
}
