#alert {
    position: absolute;
    z-index: 1;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 180px;
    padding-bottom: 80px;
    background: linear-gradient(180deg, rgb(255, 247, 219) 25%, rgba(0,212,255,0) 100%);
}

#alert>div {
    display: flex;
    flex-direction: row;
}

#alert>div>h3, #alert>div>p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    padding: 10px;
}

.bi-exclamation-triangle-fill{
    margin: 20px;
}