@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Caprasimo&display=swap');

/*HEADER*/

.navbar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
    position: fixed;
    width:100vw;
    z-index: 7;
}

#logo{
    width: 70px;
    height: 70px;
    filter: drop-shadow(2px 2px 2px #492E34);
}

#navbar-burger{
    position: relative;
    cursor: pointer;
    filter: drop-shadow(2px 4px 4px #492E34);
}

/*MENU*/

@keyframes menuSlide {
	0% {
		transform: translateY(-1200px);
	}

	100% {
		transform: translateY(0px);
	}
}

.navbar-links {
    display: none;
    justify-content: center;
    position: fixed;
    background-color: #492E34;
    color: beige;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    animation: menuSlide 2s ease 0s 1 normal;
    z-index: 6;    
}

.show-nav.navbar-links{
    display: flex;
}

.hide.navbar-links{
    animation: menuSlide 2s ease 0s 1 reverse;
}

.navbar-links>ul{
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    list-style: none;
}

.links{
    display: flex;
    flex-direction: row;
    
}

.links>p{  
    font-family: "Afacad", sans-serif;
    color: beige;
    font-size: 40px;
    
}

.links>img {
    width: 50px;
    height: fit-content;
}

/* MENU VISUEL */

#visuelMenu{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mascotteMenu {
    
    width: 10%;
    position: absolute;
    margin: 0 0 500px 200px;
    overflow: hidden;
    z-index: 2;
    animation: logoShake 15s ease-out 0s infinite normal forwards;
}

#bgMascotteMenu {
    width: 70%;
    height: max-content;
    position: relative;
    z-index: 1;
}

.bi-box-arrow-up-right{
    width: 30px;
    height: 30px;
    margin: 0 0 10px 20px;
}